<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/login.css">
    <title>Welcome Page</title>
</head>
<body>
<header>
    <div class="container">
        <header>
            <h1>Ashish Dixit</h1>
            <p>Competitive Programmer And Web Developer</p>
        </header>

        <section class="profile">
            <h2>Ashish Dixit</h2>
            <p>A passionate web developer with expertise in front-end and back-end technologies, building efficient and scalable solutions.</p>
        </section>
        <section class="experience">
            <h2>Experience</h2>
            <div class="job">
                <h3>Cisco Virtual Internship </h3>
                <p><strong>Jan 2022 - Mar 2023</strong></p>
                <p>Participated in an intensive virtual internship program focused on networking, cybersecurity, and IoT technologies.
                    • Demonstrated strong problem-solving skills and the ability to learn and apply new technologies quickly.
                    • Developed and deployed practical solutions such as configuring and troubleshooting network devices, implementing
                    security measures, and creating IoT solutions.</p>
            </div>
            <div class="job">
                <h3>Hackthon Participant</h3>
                <p><strong>sep 2023 - sep 2023</strong></p>
                <p>Participated in a Reskill hackathon hosted by Azure Developer Community.
                    • Demonstrated strong problem-solving skills and the ability to learn and apply new technologies quickly.
                    • Collaborated with a team of 4 to develop and implement Campus Placement Prediction Project.Demonstrated strong
                    problem-solving skills, creativity, and the ability to work under pressure and meet deadlines.</p>
            </div>
        </section>
        <section class="education">
            <h2>Education</h2>
            <p><strong>Bachelor of Computer Science</strong>, University of Example (2021-2025)</p>
        </section>
        <section class="skills">
            <h2>Skills</h2>
            <ul>
                <li>HTML, CSS, JavaScript</li>
                <li>React, Node.js,Express Js,EJs</li>
                <li>Python, C++</li>
                <li>MongoDB, MySQL</li>
            </ul>
        </section>

        <footer>
            <p>Contact: ashish15072003@gmail.com | 49195252529</p>
        </footer>
    </div>
    </form>
</body>
</html>